// SIZES
$navbarHeight: 56px;
$smallMargin: 16px;
$bigMargin: 32px;

// MEDIA QUERIES
$smallPhoneWidth : 320px;
$phoneWidth      : 580px;
$tabletWidth     : 768px;
$desktopWidth    : 1024px;
$bigDesktopWidth : 1200px;

// COLORS
$lightGray: #EEEEEE;
$gray: #999999;
$darkGray: #666666;
$black: #333333;

$blue: #3483FA;
$yellow: #FFE600;