@import "_mixins";
@import "_variables";

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

.application {
	font-family: 'Roboto' !important;
}

body {
	height: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
	background-color: $lightGray;
	font-family: Helvetica,sans-serif;
	color: $black;
}

.router-container {
	min-height: calc(100% - #{$navbarHeight} - #{$smallMargin} * 2);
	width: 80%;
	margin: $smallMargin auto;
	position: relative;
	z-index: 1;

	& > div {
		height: 100%;
	}
}

.clickable {
	cursor: pointer;
}