@import "_mixins";
@import "_variables";

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

.application {
	font-family: 'Roboto' !important;
}

body {
	height: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
	background-color: $lightGray;
	font-family: Helvetica,sans-serif;
}

.router-container {
	height: calc(100% - #{$navbarHeight});
	width: 80%;
	margin: 0 auto;
	position: relative;
	z-index: 1;

	& > div {
		height: 100%;
	}
}

.clickable {
	cursor: pointer;
}